@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    height: 100vh;
    margin:0;
    padding:0;
    background-color:aquamarine;
}
.gameimage{
    height: 100%;
    width: 100%;
    margin: auto;
    display: grid;
}

.navbar{
    font-family: Roboto;
    font-size: 18px;
    padding: 8px;
    color:white;
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(180deg,hsl(252, 100%, 25%),hsl(252, 100%, 35%) );
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}
.gameimage{
    animation: fadeIn 3s;
}

.reviewscore{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}

.fade{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}